/* Front end styles */
.mfp-hide {
	display: none;
}

#terms {

}

#terms h1, 
#terms h2 {
	font-size: 2em;
	margin-bottom: .5em; 
}

#terms h3, 
#terms h4 {
	font-size: 1.3em;
	margin-bottom: .5em;
}

#terms ul, 
#terms ol {
	padding-left: 2em; 
	margin-bottom: 1em;
}

#terms p {
	margin-bottom: 1em;
}

p.error {
	clear: both;
	background: #faa;
	color: #a00;
	margin: 2em 0 1em 0;
	padding: 6px;
}

.ag-open-popup-link {
	font-size: 12px; 
	line-height: 19px;
} 

#login form p.submit { 
	margin-top: 19px; 
}
